.body{
    text-align: center;
    margin: 0;
}
.content-wrap{
    margin: auto;
    width: 75%;
}
.columna{
    width: 40%;
    display: inline-block;
    
}
.img-cont img{
    max-width: 75%;
    max-height: 75%;
}